body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color:rgba(38, 176, 218, 0.39);
}

thead tr th{
    border: 1px solid black;
}


tbody tr td{
    border: 1px solid black;
}

th{
    border: 1px solid black;
}

tfoot tr td{
    border: 1px solid black;
}

.texto_derecha{
    text-align: right;
}
