body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

thead tr th{
    border: 1px solid black;
}

table{
    border: 1px solid black;
}

tbody tr td{
    border: 1px solid black;
}

th{
    border: 1px solid black;
}

tfoot tr td{
    border: 1px solid black;
}

.texto_centro{
    text-align: center;
}

.nota_centro{
    text-align: center;
}

.nota_8{
    background-color: green;
}

.nota_5{
    background-color: yellow;
}

.nota_0{
    background-color: red;
}